.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #848688;
  pointer-events: none;
  height: 0;
}

.customTiptapInput {
  height: fit-content;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  background-color: rgb(253, 248, 249);
}

.customTiptapInput:focus {
  outline: none;
}

.custom-column {
  display: flex;
  flex-wrap: wrap;
}

.custom-column > * {
  box-sizing: border-box;
}

.custom-layout {
  display: flex;
  flex-wrap: wrap;
}

.custom-layout > * {
  box-sizing: border-box;
}
